
# Ignore artifacts:
build
coverage
public
/public
package.json
/package.json
README.MD
/README.MD
pnp.cjs
.pnp.loader.mjs
node_modules
.prettierrc.json
/.prettierrc.json
.eslintrc.json
/.eslintrc.json
.pnp.cjs
/.pnp.cjs
.pnp.loader.mjs
/.pnp.loader.mjs
frontend-helm-chart
/frontend-helm-chart
